:root {
    --light: #f6f6f9;
    --primary: #1976D2;
    --light-primary: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #363949;
    --danger: #D32F2F;
	--light-danger: #FECDD3;
    --warning: #FBC02D;
    --light-warning: #FFF2C6;
    --success: #388E3C;
    --light-success: #BBF7D0;
	--orgrage: #F9690E;
}
.who li {
	margin-bottom: 6px;
}
.who li i {
	color: #F9690E;
	font-size: 13px;
	min-width: 15px;
	margin-right: 8px;
	text-align: center;
	position: relative;
}
.who li:hover i,
.who li:hover a {
	color: #777;
}
.who li:hover a:hover {
	text-decoration: none;
}
p,
li,
li a,
label {
 color: #555;
}

a {
 color: #F9690E;
 text-decoration: none;
}

a,
a:focus,
a:hover,
a:active,
button,
button:hover {
	outline: 0 !important;
}

a:focus {
text-decoration: none;
}
a:hover {
 color: #72c02c;
 text-decoration: underline;
}
.headline {
	display: block;
	margin: 10px 0 25px 0;
	border-bottom: 1px dotted #e4e9f0;
}

.headline h2 {
	font-size: 22px;
}

.headline h2,
.headline h3,
.headline h4 {
	margin: 0 0 -2px 0;
	padding-bottom: 5px;
	display: inline-block;
	border-bottom: 2px solid #F9690E;
}

.btn-u {
	border: 0;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	padding: 6px 13px;
	position: relative;
	background: var(--orgrage);
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}
.btn-u:hover {
	color: #f6f6f6;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
	background-color: var(--primary);
}